body {
    margin-top: 30px;
}

.lnc_title_panel{
    font-size: 17pt;
}

.lnc_icon_huge{
    font-size : 64pt;
}

.text-huge{
    font-size: 40px;
}

.text-big{
    font-size: 28px;
}

.text-middle {
    font-size: 20px;
}